<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>写真ライブラリに保存するためにアクセスが必要です。
</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真を読み込むためにアクセスが必要です。
</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
</dict>
</plist>
